@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  font-family: inherit;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-track{
    background:#0c66f7;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #38bdf8,
        #2563eb
    );
    border-radius:20px;
    border:3px solid #08111f;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(
        180deg,
        #60a5fa,
        #38bdf8
    );
}

html{
    scrollbar-color:#40535c #08111f;
    scrollbar-width:thin;
}